*{
    box-sizing: border-box;
}

@font-face{
    font-family: 'Magra';
    src: url(../assets/fonts/Aleo\,Magra\,Red_Hat_Text/Magra/Magra-Bold.ttf);
}

@font-face {
    font-family: 'Red Hat Text';
    src: url(../assets/fonts/Aleo\,Magra\,Red_Hat_Text/Red_Hat_Text/static/RedHatText-Medium.ttf);
}

.wrapper{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.page-header{
    background-image: url(../assets/image/main-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90px;
}

.header-color{
    background-color: rgba(242, 120, 92, 0.7);
    height: 90px;
}

.header-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.header-logo{
    display: flex;
    flex-direction: row;
}

.header-logo-text{
    font-family: 'Magra';
    font-size: 32px;
    color: #ffffff;
}

.header-nav-list{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav-item-anchor{
    text-decoration: none;
    font-family: 'Red Hat Text';
    color: #ffffff;
}

.header-login-btn{
    color: #ffffff;
    font-family: 'Red Hat Text';
}